<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/aboutme.css">

<div class="container">
    <div class="row">
      <div class="col-sm">
<div class = "abtmetxt">
<h1> About Me </h1>
<p>
I am a computer science student at Queens College, with one year left to graduate, who is 
actively seeking software engineering internships or full-time software engineering jobs for post-graduation. <br>
I am a full-stack developer who has done work on websites, and currently learning android development. 
</p>

<h1>Why Computer Science?</h1>
<h4>Short Story</h4>
<p>
    My career goal is to be a software engineer, to solve problems using code. 
    I got inspired to pursue computer science from playing video games. 
    Although games were fun to play, I had always wondered how 
    games are created. where does one start to create something so enjoyable that can be played by many, 
    and how does the character on the screen knows to jump when i pressed x. With that curiousity in mind 
    I took on the challenge of studying computer science in college. I had heard by many that it was one of the more 
    challenging degrees to complete, but that wasn't going to stop me, I needed to know how to use code to create. 
    Although, I am currently not pursuing a career in game developer, but my curiousity led me to discover bigger
    things that can be created with code other than games. It's been a journey, it wasn't easy for me. I faced a lot of 
    difficulties before I could finally write my own programs from scratch, or create my own website, or develop an app. 
    In school i learned the fundamentals and how to solve problems, in my own time I learned how to use those fundamentals 
    to build something or solve challenges on leetcode. In internships, i learned how to work in teams to achieve a project,
    I learned how to write code so that the next person working on the same project can understand it by using conventions.
    My journey has just begun, and I can't wait to do more with code professionally. 
</p>
</div>
</div>
</div>
</div>

<% include partials/footer %>