<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/aboutme.css">
<h1> My Experiences</h1>
<div class="experiences">
    <h3>June 2019-Present | CUNY Tech Prep |New York, NY | Software Developer Student </h3>
    <ul>
        <li>Selected for a full stack JavaScript training program, as one of 122 students out of 400+ applicants</li>
        <li>Learn in-demand technologies like React, Node + Express, and PostgreSQL as well as industry 
            best practices for design, implementation,<br> and deployment such as MVC, 
            version control with Git/GitHub, agile & Scrum with Trello and Slack, test driven development, and CI/CD</li>
    </ul>
    <h3>July 2019-Present | CUNY Office Of Research| New York, NY | Software Engineer Intern </h3>
    <ul>
        <li>Develop websites, and internal software using Oracle APEX</li>
        <li>Learn about software development cycle, working in a team of four to deliver software</li>
    </ul>
    <h3>January 2019-May 2019 | Entrepreneurs Roundtable Accelerator (ERA)|New York, NY | Intern </h3>
    <ul>
    <li>Collected data on 1000+ Home Health Aids in order to better understand industry for CEOs’ 
        improved  sales tactics of new technologies; </li>
    <li>Learned the fullstack of the technologies that they used to develop their business</li>
    <li>Stored data on addresses, distance from ERA, phone numbers, and CEO contacts utilizing Microsoft Excel</li>
    </ul>
    <h3>August 2018-May 2019 | Project Excel | New York, NY | Mentor</h3>
    <ul>
        <li>Mentored and guided college students teaching them how to be a productive college student</li>
        </ul>
            
    </p>
</div>

<% include partials/footer %>


