<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">
<div class = "git">
        <button type="button" class="btn btn-info btn-lg"><a href="https://github.com/ReudyReud">My Github</a></button>
</div>

<% include partials/footer %>