.abtmetxt{
    text-align: center; 
    padding: 20px 200px;
    
}
.experiences{
    font-size: 15px; 
    line-height: 2em;
    text-align: justify;
    padding-left: 90px;

}
p{
    font-size: 15px; 
    line-height: 2em;
    text-align: justify;
   
}